label{
font-size:16;
font-family:serif;
color:white;
}
input[type=text],input[type="email"],input[type="button"],input[type="date"],textarea
{
	border:1px solid #ccc;
	width:100%;
	padding:8px 20px;
	border-radius:5px;
	font:5;
	display:inline-block;
	box-sizing:border-box;
	margin:auto;

}
div
{
	border:1px solid #ccc;
	width:25%;
	border-radius: 5px;
	
	padding: 20px;
	margin:auto;
}
.styles
{
	font-family:Arial ;
	color:wheat
}
body{
background-image:url("im.jpg");
}